  connectedCallback() {
    this.attachShadow({ mode: "open" });
    this.render();
    if ((this as any).init) {
      (this as any).init();
    }
  }
  render() {
     (this.shadowRoot as any).innerHTML =
      this.getStyle() + window["FSPACore"].buildTemplate(this, `#TEMPLATE`);
  }
  getStyle() {
    return `<style>#STYLE</style>`;
  }
}
customElements.define("#TAG", #CLASS_NAME);
